<app-menu></app-menu>
<!-- <app-geocode
  appId="azExf71DZ9K5PLG7rxqB"
  appCode="T4nPUtBSokLxDp1YQDFz5Q"
  lat="-38.7396500"
  lng="-72.5984200"
  width="100%"
  height="350px"
>
</app-geocode> -->
<section class="input-search">
  <div class="input-group mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="Ingrese una dirección"
      aria-label="ingrese una dirección"
      aria-describedby="button-addon2"
    />
    <div class="input-group-append">
      <button class="btn btn-send" type="button" id="button-addon2">
        <i class="fas fa-arrow-right"></i>
      </button>
    </div>
  </div>
</section>
<section class="father-finish">
  <div class="division-3-finish">
    <img class="icono-auto" src="../../assets/linea.png" alt="" srcset="" />
    <h6 class="title">Línea 3033</h6>
  </div>
  <div class="division-3-finish">
    <img class="icono-finish" src="../../assets/disponibilidad.png" alt="" srcset="" />
    <h6 class="title">Disponibilidad</h6>
    <p>2</p>
  </div>
  <div class="division-3-finish">
    <h2 class="tarifa">$ 650</h2>
    <h6 class="title">Tarifa</h6>
  </div>
</section>
<section class="colectivos">
  <p>Tu Ruta.</p>
</section>
<section class="ruta-father">
  <div class="ruta">
    <img class="icono-green" src="../../assets/icon green.png" alt="" class="src" />
    <p>Diríjase a Pasaje Los Manantiales por Pasaje Lazarillo de Tormes. Siga durante 22 m.</p>
  </div>
  <div class="ruta">
    <img class="icono-green" src="../../assets/icon green.png" alt="" class="src" />
    <p>Gire a la derecha en Pasaje Lazarillo de Tormes.</p>
  </div>
  <div class="ruta">
    <img class="icono-green" src="../../assets/icon green.png" alt="" class="src" />
    <p>Siga durante 6 m. Continúe por Calle Lepanto.</p>
  </div>
  <div class="ruta">
    <img class="icono-green" src="../../assets/icon green.png" alt="" class="src" />
    <p>Siga durante 5 m. Continúe por Pasaje Los Manantiales.</p>
  </div>
  <div class="ruta">
    <img class="icono-green" src="../../assets/icon green.png" alt="" class="src" />
    <p>Siga durante 227 m. Gire a la derecha en
      Avenida Santa Rosa.  Siga durante 2.9 km.</p>
  </div>
  <div class="ruta">
    <img class="icono-green" src="../../assets/icon green.png" alt="" class="src" />
    <p> Gire a la izquierda en Avenida Gabriela Poniente. Siga
      durante 1.6 km.</p>
  </div>
  <div class="ruta">
    <img class="icono-green" src="../../assets/icon green.png" alt="" class="src" />
    <p>
      Gire a la derecha en Avenida La Serena hacia Rancagua. Siga durante 75 m.</p>
  </div>
  <div class="ruta">
    <img class="icono-green" src="../../assets/icon green.png" alt="" class="src" />
    <p>Tome la
      rampa de la izquierda en 5 (Acceso Sur A Santiago) hacia Rancagua. Siga durante 2.2 km.</p>
  </div>
  <div class="ruta">
    <img class="icono-green" src="../../assets/icon green.png" alt="" class="src" />
    <p>Tome la
      salida en dirección a Diego Tocornal/Puente Alto. Siga durante 1.9 km.</p>
  </div>
  <div class="ruta">
    <img class="icono-green" src="../../assets/icon green.png" alt="" class="src" />
    <p>Gire a la derecha en
      dirección a Calle Caletera. Siga durante 193 m. Gire a la derecha en Calle Caletera hacia Puente
      Alto. Siga durante 60 m.</p>
  </div>
  <div class="ruta">
    <img class="icono-green" src="../../assets/icon green.png" alt="" class="src" />
    <p>Su destino está a la derecha.</p>
  </div>
     
</section>
