<section class="navbar-initial">
  <img class="logoubi" src="../../assets/ubi3.png" alt="" srcset="" />
  <div class="header-pri">
    <div class="page-wrapper chiller-theme toggled">
      <a id="show-sidebar" class="btn btn-sm btn-dark">
        <i class="fas fa-bars"></i>
      </a>
      <nav id="sidebar" class="sidebar-wrapper">
        <div class="sidebar-content">
          <div class="sidebar-brand">
            <div id="close-sidebar">
              <i class="fas fa-arrow-left"></i>
            </div>
          </div>
          <div class="sidebar-menu">
            <ul>
              <li class="sidebar-dropdown">
                <a>
                  <img class="icon-menus" src="../../assets/settings.svg" alt="" srcset="" />
                  <span>Configuración</span>
                </a>
              </li>
              <li class="sidebar-dropdown">
                <a>
                  <img class="icon-menus" src="../../assets/perfil.png" alt="" srcset="" />
                  <span>Perfil</span>
                </a>
              </li>
              <li class="sidebar-dropdown">
                <a>
                  <img class="icon-menus" src="../../assets/history.svg" alt="" srcset="" />
                  <span>Historial</span>
                </a>
              </li>
              <li class="sidebar-dropdown">
                <a routerLink="opportunities">
                  <img class="icon-menus" src="../../assets/location.png" alt="" srcset="" />
                  <span>Viajes Favoritos</span>
                </a>
              </li>
              <li class="sidebar-dropdown">
                <a href="#">
                  <img class="icon-menus" src="../../assets/route.svg" alt="" srcset="" />
                  <span>Rutas</span>
                </a>
              </li>
              <li class="sidebar-dropdown">
                <a href="#">
                  <img class="icon-menus" src="../../assets/money.svg" alt="" srcset="" />
                  <span>Monedero</span>
                </a>
              </li>
              <li class="sidebar-dropdown">
                <a href="#">
                  <img class="icon-menus" src="../../assets/information.svg" alt="" srcset="" />
                  <span>Informartivo</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="logo">
        <img src="" alt="" />
      </div>
    </div>
  </div>
</section>
