<section class="navbar-initial">
  <img class="logoubi" src="../../assets/ubi3.png" alt="" srcset="" />
  <div class="header-pri">
    <div class="page-wrapper chiller-theme toggled">
      <a id="show-sidebar" class="btn btn-sm btn-dark">
        <i class="fas fa-bars"></i>
      </a>
      <nav id="sidebar" class="sidebar-wrapper">
        <div class="sidebar-content">
          <div class="sidebar-brand">
            <div id="close-sidebar">
              <i class="fas fa-arrow-left"></i>
            </div>
          </div>
          <div class="sidebar-menu">
            <ul>
              <li class="sidebar-dropdown">
                <a>
                  <img class="icon-menus" src="../../assets/settings.svg" alt="" srcset="" />
                  <span>MENU 1</span>
                </a>
              </li>
              <li class="sidebar-dropdown">
                <a>
                  <i class="fas fa-user-tag"></i>
                  <span>MENU 2</span>
                </a>
              </li>
              <li class="sidebar-dropdown">
                <a>
                  <i class="far fa-gem"></i>
                  <span>MENU 3</span>
                </a>
              </li>
              <li class="sidebar-dropdown">
                <a routerLink="opportunities">
                  <i class="fa fa-globe"></i>
                  <span>MENU 4</span>
                  <span class="badge badge-pill badge-danger">3</span>
                </a>
              </li>
              <li class="sidebar-dropdown">
                <a href="#">
                  <i class="fas fa-fire"></i>
                  <span>MENU 5</span>
                </a>
              </li>
              <li class="sidebar-dropdown">
                <a href="#">
                  <i class="fas fa-fire"></i>
                  <span>MENU 6</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="logo">
        <img src="" alt="" />
      </div>
    </div>
  </div>
</section>
