<div class="blob-nav">
  <div class="wobble"></div>
  <div class="wobble"></div>
  <div id="toggle-nav" class="toggle">
    <span class="hamburger hamburger-1"></span>
    <span class="hamburger hamburger-2"></span>
    <span class="hamburger hamburger-3"></span>
  </div>
  <nav>
    <div class="nav-item"><i class="fa fa-codepen"></i></div>
    <div class="nav-item"><i class="fa fa-github"></i></div>
    <div class="nav-item"><i class="fa fa-facebook"></i></div>
    <div class="nav-item"><i class="fa fa-twitter"></i></div>
  </nav>
</div>
