<section class="top-initial"></section>
<section class="slide-principal">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../assets/taxi.svg" class="icono-initial" alt="..." />
        <h2 class="title-initial">Bienvenido</h2>
        <p class="description-initial">Podrás ver tu colectivo en tiempo real.</p>
        <br /><br /><br />
      </div>
      <div class="carousel-item">
        <img src="../../assets/map.svg" class="icono-initial" alt="..." />
        <h2 class="title-initial">Planifica tu Viaje</h2>
        <p class="description-initial">
          Te sugerimos tus destinos habituales y colectivos disponibles.
        </p>
        <br /><br /><br />
      </div>
      <div class="carousel-item">
        <img src="../../assets/money.svg" class="icono-initial" alt="..." />
        <h2 class="title-initial">Verifica Tarifas</h2>
        <p class="description-initial">Revisa las tarifas antes de iniciar tu viaje</p>
        <br /><br /><br />
      </div>
    </div>
    <a
      class="carousel-control-prev"
      href="#carouselExampleIndicators"
      role="button"
      data-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a
      class="carousel-control-next"
      href="#carouselExampleIndicators"
      role="button"
      data-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</section>
<section class="buttons">
  <button type="button" routerLink="home" class="btn btn-primary">IR A LA APP</button>
</section>
<section class="bottom-end"></section>
