.top-initial{
  background-image: url(../../assets/top.png);
  width:100%;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  background-origin: content-box;
  top: 0;
  position: absolute;
}
.bottom-end{
  background-image: url(../../assets/bottom.png);
  width: 100%;
  height: 100px;
  background-size: contain;
  background-repeat: repeat;
  bottom: 0;
  position: absolute;
}
@media (max-width:780px){
  .top-initial{
    background-size: auto;
    background-position: center;
    height: 120px;
  }
}