<app-menu></app-menu>
<app-geocode
  appId="azExf71DZ9K5PLG7rxqB"
  appCode="T4nPUtBSokLxDp1YQDFz5Q"
  lat="-33.4372"
  lng="-70.6506"
  width="100%"
  height="350px"
>
</app-geocode>
<section class="colectivos">
  <p>Colectivos cerca de tí.</p>
</section>
<section class="father">
  <div class="division-3">
    <div class="title-type">
      <h5>Lìnea</h5>
      <img src="../../assets/Vector.png" alt="" srcset="" />
    </div>
    <div class="result">
      <p>3033</p>
      <p>3028</p>
      <p>3030</p>
      <p>1230</p>
    </div>
  </div>
  <div class="division-3">
    <div class="title-type">
      <h5>Tiempo</h5>
      <img src="../../assets/icon.png" alt="" srcset="" />
    </div>
    <div class="result">
      <p>Menos de 5 min</p>
      <p>Entre 5 y 10 min</p>
      <p>Entre 5 y 10 min</p>
      <p>Entre 10 y 20 min</p>
    </div>
  </div>
  <div class="division-3">
    <div class="title-type">
      <h5>Distancia</h5>
      <img src="../../assets/distance.png" alt="" srcset="" />
    </div>
    <div class="result">
      <p>1 km</p>
      <p>3.5 km</p>
      <p>3.8 km</p>
      <p>4.0 km</p>
    </div>
  </div>
</section>
